#mapView {
  height: 100%;
  width: 100%;
}

.address-list {
  display: flex;
  flex-direction: row;
}

.address-item {
  padding: 5px;
}

.address-item:hover {
  background-color: #a4d4f6;
  color: white;
}

.map-wrapper {
  width: 100%;
  /* width: fit-content; */
}

.items-wrapper {
  min-width: fit-content;
  padding-right: 10px;
}