#mapView {
  height: 100%;
  width: 100%;
}

.address-list {
  display: flex;
  flex-direction: row;
}

.address-item {
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
}

.address-item:hover {
  background-color: #a4d4f6;
  color: white;
}

.current-place {
  background-color: #a4d4f6;
  color: white;
}

.map-wrapper {
  width: 100%;
}

.items-wrapper {
  min-width: fit-content;
  overflow-y: scroll;
}