#sideNavigation {
  height: 100%;
}

.el-menu {
  border: none;
  box-shadow: 0px 0px 20px black;
}

.logo {
  height: 85px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  color: #969696;
}

.el-menu-item {
  font-family: Roboto;
  font-size: 24px;
  height: 85px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.el-menu-item:hover {
  background-color: #a4d4f6;
  color: white;
}

.el-menu-item.is-active {
  color: #1974e8;
  background-color: #a4d4f6;
}

.side-nav-menu {
  height: 100%;
}