@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.el-container {
  min-height: 100vh;
}

.el-container > .el-main {
  padding: 0;
}

.el-aside {
  /* Top Masking Shadow, Bottom Masking Shadow, Left-shadow, Right-shadow */
  box-shadow : 
  0 -6px white, 
  0 6px white,
  0 6px white,
  2px 0 9px -3px black;
}